mixin StylesheetLink (type)
  case ( type )
    when 'frms'
      link( rel="stylesheet", href="assets/lib/select2/css/select2.min.css", type="text/css" )
    when 'dt'
      link( rel="stylesheet", href="assets/lib/datatables/css/dataTables.bootstrap4.min.css", type="text/css" )
    when 'drpzone'
      link( rel="stylesheet", href="assets/lib/dropzone/dist/dropzone.css", type="text/css" )
    when ''
      break