mixin mixinMenuClasses ( parent, link)
  if parent != null
    parent = '.open'
  case ( link )
    when null
      breack
    when 1
      link1 = '.active'
      link2 = ''
      link3 = ''
      link4 = ''
      link5 = ''
      link6 = ''
      link7 = ''
      link8 = ''
    when 2
      link1 = ''
      link2 = '.active'
      link3 = ''
      link4 = ''
      link5 = ''
      link6 = ''
      link7 = ''
      link8 = ''
    when 3
      link1 = ''
      link2 = ''
      link3 = '.active'
      link4 = ''
      link5 = ''
      link6 = ''
      link7 = ''
      link8 = ''
    when 4
      link1 = ''
      link2 = ''
      link3 = ''
      link4 = '.active'
      link5 = ''
      link6 = ''
      link7 = ''
      link8 = ''
    when 5
      link1 = ''
      link2 = ''
      link3 = ''
      link4 = ''
      link5 = '.active'
      link6 = ''
      link7 = ''
      link8 = ''
    when 6
      link1 = ''
      link2 = ''
      link3 = ''
      link4 = ''
      link5 = ''
      link6 = '.active'
      link7 = ''
      link8 = ''
    when 7
      link1 = ''
      link2 = ''
      link3 = ''
      link4 = ''
      link5 = ''
      link6 = ''
      link7 = '.active'
      link8 = ''
    when 8
      link1 = ''
      link2 = ''
      link3 = ''
      link4 = ''
      link5 = ''
      link6 = ''
      link7 = ''
      link8 = '.active'

