div.mai-wrapper
  <!-- Pages navigation -->
  nav.navbar.mai-sub-header
    div.container
      <!-- Mega Menu structure-->
      nav.navbar.navbar-toggleable-sm
        button( type="button", data-toggle="collapse", data-target="#mai-navbar-collapse", aria-controls="#mai-navbar-collapse", aria-expanded="false", aria-label="Toggle navigation" ).navbar-toggler.hidden-md-up.collapsed
          div.icon-bar
            <!-- Have no idea, WTF is this(( -->
            span
            span
            span
        <!-- Menu itself -->
        div( id="mai-navbar-collapse" ).navbar-collapse.collapse.mai-nav-tabs
          ul.nav.navbar-nav
            include menu-irems