doctype
html
    include ../template/index-main
        include ../mixins/_mixin-StylesheetLink
        +StylesheetLink('frms')
        link( rel="stylesheet", href="assets/css/app.css", type="text/css" )
        include ../mixins/_mixin-PageTitle
        +PageTitle("Добавление отправителя")
    body
        include ../static/static-menu
        include ../static/static-menu-index-container
            include ../static/static-menu-index
                include ../mixins/nav/_mixin-MenuItem-main
                include ../mixins/nav/_mixin-MenuItem-senders
                include ../mixins/nav/_mixin-MenuItem-email
                include ../mixins/nav/_mixin-MenuItem-clients
                include ../mixins/nav/_mixin-MenuItem-settings
                +main-item()
                +main-senders()
                +main-email()
                +main-clients()
                +main-settings()
            .search
                input(type='text', placeholder='Поиск...', name='q')
                span.s7-search
        div.main-content.container      <!-- OUR CONTENT -->
            .row
                .col-md-12
                    .panel.panel-default
                        .panel-heading.panel-heading-divider Добавление отправителя
                            <!-- Add sender form -->
                        .panel-body
                            form
                                .form-group.row
                                    label.col-sm-3.col-form-label.text-right Страна нахождения:
                                    .col-sm-8
                                        select.tags.select2-hidden-accessible( required="", tabindex="-1", aria-hidden="true")
                                            include ../mixins/_mixin-FormGroup
                                            +form-group-option( 'Россия' )
                                            +form-group-option( 'Украина' )
                                            +form-group-option( 'Зимбабве' )
                                            +form-group-option( 'Деревня Санта–Клауса' )
                                .form-group.row
                                    label.col-sm-3.col-form-label.text-right Страны, в которые будут рассылки:
                                    .col-sm-8
                                        select.tags( required="true", multiple="true", tabindex="-1", aria-hidden="true" )
                                            include ../mixins/_mixin-FormGroup
                                            +form-group-option( 'Россия' )
                                            +form-group-option( 'Украина' )
                                            +form-group-option( 'Зимбабве' )
                                            +form-group-option( 'Деревня Санта–Клауса' )
                                            +form-group-option( 'Казахстан' )
                                            +form-group-option( 'Исландия' )
                                            +form-group-option( 'КНДР' )
                                .form-group.row
                                    label.col-sm-3.col-form-label.text-right Тематика проводимых рассылок:
                                    .col-sm-8
                                        select.tags.select2-hidden-accessible( required="", tabindex="-1", aria-hidden="true")
                                            include ../mixins/_mixin-FormGroup
                                            +form-group-option( 'Астрономия' )
                                            +form-group-option( 'Медицина' )
                                            +form-group-option( 'Погода' )
                                            +form-group-option( 'Новости' )
                                            +form-group-option( 'Анекдоты' )
                                            +form-group-option( 'Ежедневный гороскоп' )
                                            +form-group-option( 'Спам' )
                                .form-group.row
                                    label.col-sm-3.col-form-label.text-right Цели рассылки:
                                    .col-sm-8
                                        input.form-control( type="text", required="true" )
                                .form-group.row
                                    label.col-sm-3.col-form-label.text-right Пример текста сообщения:
                                    .col-sm-8
                                        textarea.form-control( resize = 'vertical' )
                                .form-group.row
                                    label.col-sm-3.col-form-label.text-right Планируемый объём трафика в день:
                                    .col-sm-8
                                        input.form-control( type="text", required="true" )
                                .form-group.row
                                    label.col-sm-3.col-form-label.text-right Тип сервиса:
                                    .col-sm-8.mt-2
                                        label.custom-control.custom-radio
                                            input.custom-control-input( type="radio", name="radio-color", checked="checked" )
                                            span.custom-control-indicator.custom-control-color
                                            span.custom-control-description Рассылка
                                        label.custom-control.custom-radio
                                            input.custom-control-input( type="radio", name="radio-color" )
                                            span.custom-control-indicator.custom-control-color
                                            span.custom-control-description Чат
                                .form-group.row
                                    label.col-sm-3.col-form-label.text-right Возможные пиковые нагрузки (сообщений в секунду):
                                    .col-sm-8
                                        input.form-control( type="text", required="true" )
                                .form-group.row
                                    label.col-sm-3.col-form-label.text-right Отправитель:
                                    .col-sm-8
                                        input.form-control( type="text", required="true" )
                                .form-group.row
                                    label.col-sm-3.col-form-label.text-right Адрес сайта:
                                    .col-sm-8.input-group.mb-2
                                        input.form-control( parsley-type="url", type="url", placeholder="http://", required="true" )
                                        i.input-group-addon.icon.icon-arrow-left
                                        span.input-group-addon введите адрес сайта
                                .form-group.row
                                    label.col-sm-3.col-form-label.text-right Дата согласования:
                                    .col-sm-8
                                        input.form-control( type="text", disabled="disabled", placeholder="Не указана" )
                                        <!-- Action buttons -->
                                .email-editor
                                    .form-group
                                        label.col-1.col-form-label.text-right
                                        button.btn.btn-primary.btn-space( type="submit" ) Добавить
                                        a.btn.btn-secondary.btn-space( href="senders.html", type="button" ) Отмена

        include ../mixins/_mixin-ScriptLink
        +ScriptLink('frms')



